:root {
  /* color */
  --color-purple-dark: rgba(70, 8, 157);
  --color-purple-light: rgba(110, 18, 245);
  --color-purple-lighter: rgba(130, 70, 220);
  --color-black: black;
  --color-black-24: rgba(0, 0, 0, 0.24);
  --color-black-32: rgba(0, 0, 0, 0.32);
  --color-black-48: rgba(0, 0, 0, 0.48);
  --color-white: white;
  --color-white-16: rgba(255, 255, 255, 0.16);
  --color-white-32: rgba(255, 255, 255, 0.24);
  --color-lime: #20cb51;
  --color-orange: rgba(238, 121, 47);
  --color-red: #ff0000;
  --color-blue: rgba(32, 80, 246);
  --color-sky: rgba(0, 191, 255);
  --color-rose: #ff5678;
  --color-pink: #ff59db;

  --background-default: var(--color-purple-dark);
  --background-accent: var(--color-purple-light);
  --text-default: var(--color-white);

  /* space */
  --space-0: 0rem; /* 0px */
  --space-px: 0.0625rem; /* 1px */
  --space-0_5: 0.125rem; /* 2px */
  --space-1: 0.25rem; /* 4px */
  --space-1_5: 0.375rem; /* 6px */
  --space-2: 0.5rem; /* 8px */
  --space-2_5: 0.625rem; /* 10px */
  --space-3: 0.75rem; /* 12px */
  --space-3_5: 0.875rem; /* 14px */
  --space-4: 1rem; /* 16px */
  --space-5: 1.25rem; /* 20px */
  --space-6: 1.5rem; /* 24px */
  --space-7: 1.75rem; /* 28px */
  --space-8: 2rem; /* 32px */
  --space-9: 2.25rem; /* 36px */
  --space-10: 2.5rem; /* 40px */
  --space-11: 2.75rem; /* 44px */
  --space-12: 3rem; /* 48px */
  --space-14: 3.5rem; /* 56px */
  --space-16: 4rem; /* 64px */
  --space-20: 5rem; /* 80px */
  --space-24: 6rem; /* 96px */
  --space-28: 7rem; /* 112px */
  --space-32: 8rem; /* 128px */
  --space-36: 9rem; /* 144px */
  --space-40: 10rem; /* 160px */
  --space-44: 11rem; /* 176px */
  --space-48: 12rem; /* 192px */
  --space-52: 13rem; /* 208px */
  --space-56: 14rem; /* 224px */
  --space-60: 15rem; /* 240px */
  --space-64: 16rem; /* 256px */
  --space-72: 18rem; /* 288px */
  --space-80: 20rem; /* 320px */
  --space-96: 24rem; /* 384px */

  /* typography */
  --text-xs: 0.75rem; /* 12px */
  --text-sm: 0.875rem; /* 14px */
  --text-base: 1rem; /* 16px */
  --text-lg: 1.125rem; /* 18px */
  --text-xl: 1.25rem; /* 20px */
  --text-2xl: 1.5rem; /* 24px */
  --text-3xl: 1.875rem; /* 30px */
  --text-4xl: 2.25rem; /* 36px */
  --text-5xl: 3rem; /* 48px */
  --text-6xl: 3.75rem; /* 60px */
  --text-7xl: 4.5rem; /* 72px */
  --text-80: 5rem; /* 80px */
  --text-8xl: 6rem; /* 96px */
  --text-9xl: 8rem; /* 128px */
  --text-160: 160px; /* 160px */
  --font-sans: system-ui;

  --tracking-wide: -0.04em;
  --tracking-normal: -0.05em;
  --tracking-tight: -0.06em;

  --leading-wide: 1.2;
  --leading-normal: 1;
  --leading-tight: 0.92;
  --leading-tighter: 0.84;
  --leading-tightest: 0.8;

  --font-normal: normal;
  --font-bold: bold;

  --text-body: var(--text-lg);
  --text-title: var(--text-6xl);
  --text-subtitle: var(--text-4xl);
  --text-heading: var(--text-5xl);

  /* radius */
  --rounded-full: calc(infinity * 1px);
  --rounded-sm: 32px;
  --rounded-md: 40px;

  /* shadow */
  --shadow-md: 0 12px 16px 2px var(--color-black-32);
  --shadow-lg: 0 24px 32px 4px var(--color-black-32);
  --shadow-lg-filter: 0 12px 8px var(--color-black-32);
  --inset-shadow-md: inset 0 0 40px 8px var(--color-black-48);
  --inset-shadow-illustration-benefit: inset 0 0 20px 4px var(--color-black-48);
  --inset-shadow-illustration-usecase: inset 0 0 30px 6px var(--color-black-48);
  --inset-shadow-faq: inset 0 0 24px 16px var(--color-black-32);

  /* border */
  --border-width-1: 2px;
  --border-width-2: 3px;
  --border-width-3: 4px;
  --border-width-4: 8px;

  --border-solid: solid;
}

* {
  margin: 0;
  box-sizing: border-box;
}

html {
  background: var(--background-accent);
}

body {
  color: var(--text-default);
  font-family: var(--font-sans);
}

h2,
.usecase__case--text--aim,
.pricing__card--number,
.cta-text,
.feature-1__title {
  font-style: italic;
  font-size: var(--text-title);
  font-weight: 900;
  letter-spacing: var(--tracking-normal);
  line-height: var(--leading-tight);
}

.cta-text {
  line-height: var(--leading-tightest);
}

.pricing__card--number {
  font-size: var(--text-80);
}

h3,
.subtitle,
.feature-1__description--primary,
.feature-1__description--secondary--text,
.usecase__case--text--for,
.pricing__card--currency,
.feature-1__subtitle {
  font-style: italic;
  font-size: var(--text-subtitle);
  font-weight: 600;
  letter-spacing: var(--tracking-tight);
  line-height: var(--leading-normal);
}

.usecase__case--text--for {
  color: var(--color-pink);
}

p,
.body,
.feature-2__description__header--user,
.feature-2__description__view--content,
.usecase__case--text--doing,
.testimonials__testimonial--auther--text,
.pricing__card--period,
.feature-1__body {
  font-style: normal;
  font-size: var(--text-body);
  font-weight: 400;
  letter-spacing: var(--tracking-wide);
  line-height: var(--leading-wide);
}

.feature-1__body {
  text-align: center;
}

.body-strong {
  font-style: italic;
  font-weight: 700;
}

.usecase__case--text--doing {
  line-height: 1.6;
}

.feature-2__description__header--content,
.testimonials__testimonial--content,
.pricing__card--title,
.pricing__card--per {
  font-style: italic;
  font-size: var(--text-heading);
  font-weight: 900;
  letter-spacing: var(--tracking-normal);
  line-height: var(--leading-normal);
}

.testimonials__testimonial--content {
  line-height: var(--leading-tighter);
}

.pricing__card--title--accent {
  color: var(--color-red);
}

.cta-button,
.option,
.feature-2__description__header--time,
.feature-2__description__view--category {
  font-style: italic;
  font-size: var(--text-body);
  font-weight: 700;
  letter-spacing: var(--tracking-normal);
  line-height: var(--leading-wide);

  background: var(--color-white-16);
  padding: 2.2vh 6vw;
  border-radius: var(--rounded-full);

  text-align: center;

  width: fit-content;
  height: fit-content;
}

.cta-button,
.feature-2__description__header--time {
  background: var(--color-lime);
  box-shadow: var(--shadow-md);
}

.feature-2__description__view--category,
.cta-button--accent {
  background: var(--color-red);
}

.option {
  width: auto;
}

.option--knowledge.active {
  background: var(--color-lime);
}
.option--practice.active {
  background: var(--color-orange);
}
.option--qualification.active {
  background: var(--color-red);
}

.option--pronunciation.active {
  background: var(--color-red);
}
.option--grammar.active {
  background: var(--color-blue);
}
.option--vocabulary.active {
  background: var(--color-orange);
}
.option--read.active {
  background: var(--color-red);
}
.option--listen.active {
  background: var(--color-pink);
}
.option--write.active {
  background: var(--color-blue);
}
.option--speak.active {
  background: var(--color-sky);
}
.option--toefl.active {
  background: var(--color-pink);
}
.option--ielts.active {
  background: var(--color-red);
}

.active {
  box-shadow: var(--shadow-md);
}

.cta-button--hero {
  margin-top: var(--space-2);
}

.feature-1__description--secondory--visual--button,
.feature-2__description__view--button {
  background: var(--color-white-16);
  padding: var(--space-4) var(--space-3);

  border: var(--border-solid) var(--border-width-1) var(--color-white);
  border-radius: var(--rounded-full);
  align-self: stretch;
  text-align: center;

  font-size: var(--text-body);
  font-weight: 700;
  font-style: italic;
  letter-spacing: var(--tracking-tight);

  display: flex;
  flex-direction: column;
  gap: var(--space-1);
}

main {
  background: var(--background-default);
}

section,
.faq__card {
  padding: 4vh 4vw;
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.usecase {
  gap: 3vh;
}

.pricing {
  gap: var(--space-12);
}

.cta {
  padding-block: var(--space-24);
  gap: var(--space-9);
}

.feature-1__container {
  display: flex;
  flex-direction: column;
  gap: 3vh;
  width: 100%;
}

.hero,
.feature-1,
.pricing,
.feature-1__container {
  align-items: end;
  text-align: right;
}

.feature-1__description--secondory__container {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: inherit;
  align-self: stretch;
}

.feature-1__description--secondary,
.feature-2__description,
.feature-2__description__view {
  background: var(--color-black-32);
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 3.5vh 6vw;
  border-radius: var(--rounded-md);
  box-shadow: var(--shadow-md);

  gap: 3vh;
}

.feature-2__description__view {
  background: var(--color-black-48);
}

.benefit__illustration--container,
.usecase__case--illustration--container {
  overflow: hidden;

  box-shadow: var(--shadow-md);
}

.benefit__illustration,
.usecase__case--illustration {
  background: var(--color-white);

  border: var(--border-solid) var(--border-width-4) var(--color-purple-lighter);

  box-shadow: var(--inset-shadow-illustration-benefit);

  display: flex;
}

.benefit__illustration {
  border-color: var(--color-purple-light);
  padding: var(--space-10);
}

.usecase__case--illustration {
  padding: var(--space-6) var(--space-8);
}

.illustration-container--right {
  border-radius: var(--rounded-full) 0 0 var(--rounded-full);
  margin: var(--space-4) -4vw 0 var(--space-2);
}

.illustration-container--left {
  border-radius: 0 var(--rounded-full) var(--rounded-full) 0;
  margin: var(--space-4) 0 var(--space-2) -4vw;
}

.illustration--right {
  border-radius: var(--rounded-full) 0 0 var(--rounded-full);
  border-right: none;

  padding-right: 0;
  margin-right: -10vw;

  flex-direction: row;
}

.illustration--left {
  border-radius: 0 var(--rounded-full) var(--rounded-full) 0;
  border-left: none;

  padding-left: 0;
  margin-left: -10vw;

  flex-direction: row-reverse;
}

#write--description {
  align-items: start;
  gap: var(--space-4);
}

/* header */
header {
  background: var(--background-accent);
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 9vh;
  padding: 4vh 6vw;
  padding-bottom: calc(4vh + env(safe-area-inset-bottom));
  min-height: 110vh;
}

header h1 {
  display: none;
}

.brand-logo {
  display: flex;
  gap: 4vw;
}

.brand-logo__image--header {
  width: 15vw;
}

.brand-logo__text--header {
  width: 35vw;
}

.product-logo--header {
  margin-left: -3vw;
  height: 75vh;
}

/* footer */
footer {
  background: var(--background-accent);
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-between;
  padding: 4.5vh 4vw;
  padding-bottom: calc(4.5vh + env(safe-area-inset-bottom));
  min-height: 110vh;
}

.product-logo--footer img {
  height: 60vh;
  width: 32vw;
}

.brand-logo--footer {
  display: flex;
  flex-direction: row;
  gap: var(--space-2);
  align-items: center;
}

.brand-logo__image--footer {
  width: 10vw;
}

.brand-logo__text--footer {
  width: 25vw;
  margin-right: 4vw;
}

/* hero */
.hero-illustration {
  margin-inline: -4vw;
}

.hero-illustration img {
  width: 100vw;
  margin-top: calc(var(--space-24) * -1);
}

/* benefit */

/* feature-1 */
.carousel {
  background: var(--color-black-32);
  border-radius: var(--rounded-md);
  display: flex;
  flex-direction: column;
  padding: var(--space-6);
  gap: 2vh;

  box-shadow: var(--shadow-md);
}

.feature-1__description--primary {
  background: var(--color-black-48);
  padding: 3.5vh 6.5vw;
  border: var(--border-solid) var(--border-width-2) var(--color-white);
  box-shadow: var(--shadow-lg), var(--inset-shadow-md);
  border-radius: var(--rounded-md);
  margin-left: 17vw;
}

.feature-1__description--primary--knowledge {
  border-color: var(--color-lime);
}
.feature-1__description--primary--practice {
  border-color: var(--color-orange);
}
.feature-1__description--primary--qualification {
  border-color: var(--color-red);
}

.feature-1__description--primary {
  display: none;
}

.feature-1__description--primary.active {
  display: block;
}

.carousel--secondary {
  display: none;
}

.carousel--secondary.active {
  display: flex;
}

.feature-1__description--secondary {
  display: none;
  align-self: stretch;
}

.feature-1__description--secondary.active {
  display: flex;
}

.feature-1__description--secondory--visual {
  background: var(--color-black-48);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: var(--rounded-sm);
  box-shadow: var(--shadow-md);
  padding: 4vh 8vw;

  gap: 2vh;
}

.feature-1__description--secondory--visual--icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: inherit;
}

.feature-1__description--secondory--visual--icons--primary {
  display: flex;
  gap: 4vw;
}

.feature-1__description--secondory--visual--icon--check {
  box-shadow: var(--shadow-lg);
  width: 64px;
  height: 64px;
}

.text-accent--rose {
  color: var(--color-rose);
}

.text-accent--pink {
  color: var(--color-pink);
}

.feature-1__description--secondory--visual--text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature-1__description--secondory--visual--text--primary {
  font-size: 27px;
  font-style: italic;
  font-weight: 600;
  letter-spacing: var(--tracking-tight);
}

.feature-1__description--secondory--visual--text--secondary {
  font-size: 13.5px;
  font-style: italic;
  font-weight: 700;
  letter-spacing: var(--tracking-wide);
}

/* feature-2 */
.feature-2__icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block: var(--space-6);
}
.feature-2__icon--check {
  border-radius: var(--rounded-full);
  width: 120px;
  box-shadow: var(--shadow-md);
}

.feature-2__container {
  display: flex;
  flex-direction: column;
  gap: inherit;
}

.feature-2__description {
  background: var(--color-black-32);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.feature-2__description__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.feature-2__description__header--text {
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
}

.feature-2__description__view {
  display: flex;
  flex-direction: column;
  background: var(--color-black-48);
}

.feature-2__description__view--content {
  text-align: center;
}

/* usecase */
.usecase__cases {
  display: flex;
  flex-direction: column;
  gap: inherit;
}

.usecase__case {
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
}

.usecase__case--text {
  display: flex;
  flex-direction: column;
  overflow-wrap: break-word;
}

/* testimonials */
.testimonials__testimonial {
  display: flex;
  flex-direction: column;
  gap: var(--space-6);
}

.testimonials__testimonial--quotation {
  filter: drop-shadow(var(--shadow-lg-filter));
}

.testimonials__testimonial--auther {
  display: flex;
  flex-direction: row;
  gap: var(--space-10);
}

.testimonials__testimonial--auther--avatar {
  background: var(--color-white);
  border-radius: var(--rounded-full);
  width: var(--space-20);
  height: var(--space-20);
  padding: var(--space-3);
  display: flex;
  justify-content: center;
  border: var(--border-solid) var(--border-width-3) var(--color-black);
  box-shadow: var(--shadow-md);
}

/* faw */
.faq__card {
  border: var(--border-solid) var(--border-width-3) var(--color-black);
  border-radius: var(--rounded-md);
  background: var(--color-white-32);
  box-shadow: var(--inset-shadow-md), var(--shadow-lg);
  padding: var(--space-9) var(--space-8);
  gap: var(--space-6);
}

.faq__card-body {
  border: var(--border-solid) var(--border-width-1) var(--color-black);
  border-radius: var(--rounded-md);
  padding: var(--space-6);
  background: var(--color-black-24);
  box-shadow: var(--inset-shadow-faq);
}

/* pricing */
.pricing__cards {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  gap: var(--space-8);
}

.pricing__card {
  display: flex;
  flex-direction: column;
  background: var(--color-black-48);
  border-radius: var(--rounded-md);
  border: var(--border-solid) var(--border-width-3);
  padding: var(--space-8);
  gap: var(--space-6);
  box-shadow: var(--shadow-lg), var(--inset-shadow-md);
  text-align: start;
}

.pricing__card--integlish {
  border-color: var(--color-lime);
}

.pricing__card--integlish-plus {
  border-color: var(--color-red);
}

.pricing__card--price {
  align-self: center;
}

.pricing__card--features {
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
}

.pricing__card--feature {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--space-3);
}

.pricing__card--feature img {
  width: var(--space-6);
  height: var(--space-6);
}

.pricing__card--cta-button {
  align-self: center;
}

.noborder {
  border: none;
}

@media (width >= 768px) {
  :root {
    /* typography */
    --text-body: var(--text-4xl);
    --text-title: var(--text-9xl);
    --text-subtitle: var(--text-7xl);
    --text-heading: var(--text-8xl);

    /* radius */
    --rounded-sm: 64px;
    --rounded-md: 80px;

    /* border */
    --border-width-1: 4px;
    --border-width-2: 6px;
    --border-width-3: 8px;
    --border-width-4: 16px;
  }

  h2,
  .usecase__case--text--aim,
  .pricing__card--number,
  .cta-text {
    line-height: var(--leading-tightest);
  }

  br {
    display: none;
  }

  .br--pc {
    display: inline;
  }

  section {
    padding: var(--space-16);
    gap: var(--space-8);
  }

  /* header */
  header {
    justify-content: space-between;
    min-height: 100vh;
    padding-block: 6vh;
  }

  .brand-logo__image--header {
    width: 10vw;
  }

  .brand-logo__text--header {
    width: 20vw;
  }

  .product-logo--header {
    height: 25vh;
  }

  /* footer */
  footer {
    min-height: 100vh;
  }

  .product-logo--footer img {
    height: fit-content;
    width: 65vw;
  }

  .brand-logo--footer {
    gap: var(--space-4);
  }

  .brand-logo__image--footer {
    width: 5vw;
  }

  .brand-logo__text--footer {
    width: 13vw;
    margin-right: 0;
  }

  .cta-button,
  .option,
  .feature-2__description__header--time,
  .feature-2__description__view--category {
    padding: var(--space-8) var(--space-16);
  }

  .cta-button--hero {
    margin-top: var(--space-4);
  }

  .hero-illustration img {
    margin-top: calc(var(--space-60) * -1);
  }

  .benefit__illustration img,
  .usecase__case--illustration img {
    width: 40vw;
  }

  .benefit__illustration {
    padding: var(--space-20);
  }

  .illustration-container--right {
    margin: 16vw;
    margin: var(--space-8) -4vw 0 16vw;
  }

  .carousel--row {
    flex-direction: row;
    border-radius: var(--rounded-full);
    padding: var(--space-8) var(--space-12);
    gap: var(--space-6);
  }

  .carousel {
    padding: var(--space-10);
    gap: var(--space-8);
  }

  .feature-1__container {
    gap: var(--space-12);
    width: 100%;
  }

  .feature-1__description--secondory__container {
    align-self: stretch;
  }

  .feature-1__description--primary {
    margin: 0;
    padding: var(--space-16) var(--space-32);
    border-radius: var(--rounded-full);
  }

  .feature-1__description--secondory__container {
    flex-direction: row;
    align-items: start;
    flex-grow: 1;
  }

  .feature-1__description--secondary {
    align-self: stretch;
    flex-grow: 1;
  }

  .feature-1__description--secondary,
  .feature-2__description,
  .feature-2__description__view {
    padding: var(--space-12);
    gap: var(--space-10);
  }

  .feature-1__description--secondory--visual {
    gap: var(--space-8);
    align-items: center;
  }

  #listen {
    align-self: flex-start;
  }

  .feature-1__description--secondory--visual--secondary {
    flex-direction: column;
  }

  .feature-1__description--secondory--visual--text--primary {
    font-size: var(--text-7xl);
  }

  .feature-1__description--secondory--visual--text--secondary {
    font-size: var(--text-4xl);
  }

  .feature-1__description--secondory--visual--icons {
    flex-direction: row;
    gap: var(--space-16);
  }

  .feature-1__description--secondory--visual--icons--primary {
    gap: var(--space-8);
  }

  .native {
    width: 10vw;
    height: 10vw;
  }

  .feature-1__description--secondory--visual--icon--microphone,
  .feature-1__description--secondory--visual--ico--audio-wave {
    width: 120px;
    height: 120px;
  }

  .feature-1__description--secondory--visual--icon--check {
    width: 90px;
    height: 90px;
  }

  .feature-1__description--secondory--visual--button,
  .feature-2__description__view--button {
    padding: var(--space-6);
  }

  .read--button {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--space-8);
    padding: var(--space-4) var(--space-12);
  }

  .feature-2__icon--user {
    width: 25vw;
    height: fit-content;
  }

  .feature-2__icon--check {
    width: 12.5vw;
    height: fit-content;
  }

  .feature-2__icons {
    margin-left: 4vw;
  }

  .feature-2__container {
    gap: var(--space-16);
    flex-direction: row;
    margin-top: var(--space-4);
  }

  .usecase__case {
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: var(--space-16);
    margin-right: var(--space-12);
  }

  .illustration-container--left,
  .illustration-container--left-pc {
    border-radius: 0 var(--rounded-full) var(--rounded-full) 0;
    margin: var(--space-4) 0 var(--space-2) -4vw;
    margin-left: -8vw;

    overflow: visible;
  }

  .usecase__case--illustration--container {
    margin: 0;
  }

  .illustration--left,
  .illustration--left-pc {
    border-radius: 0 var(--rounded-full) var(--rounded-full) 0;
    border-right: var(--border-solid) var(--border-width-4) var(--color-purple-lighter);
    border-left: none;

    margin-right: 0;

    flex-direction: row-reverse;
  }

  .student img {
    transform: scaleX(-1);
  }

  .usecase__case--illustration {
    padding: var(--space-12);
    padding-left: 9999px;
  }

  .usecase__case--illustration img {
    width: 27vw;
    height: 30vh;
  }

  .usecase__case--text-container {
    display: flex;
    flex-direction: row;
    align-items: end;
    gap: var(--space-4);
  }

  .usecase {
    gap: var(--space-16);
  }

  .usecase__cases {
    gap: var(--space-10);
  }

  .testimonials__testimonial {
    gap: var(--space-8);
  }

  .testimonials__testimonial--quotation {
    width: 168px;
    height: 168px;
  }

  .testimonials__testimonial--auther {
    justify-content: space-between;
    margin-right: var(--space-24);
  }

  .testimonials__testimonial--auther--avatar {
    width: var(--space-40);
    height: var(--space-40);
    padding: var(--space-6);
  }

  .faq__card {
    padding: var(--space-16);
    gap: var(--space-8);
  }

  .faq__subtitle {
    padding: var(--space-4) var(--space-8);
  }

  .faq__card-body {
    padding: var(--space-12) var(--space-16);
  }

  .pricing {
    gap: var(--space-16);
  }

  .pricing__cards {
    flex-direction: row;
    gap: var(--space-10);
    align-items: start;
  }

  .pricing__card {
    flex-grow: 1;
    padding: var(--space-16);
    gap: var(--space-12);
  }

  .pricing__card--number {
    font-size: var(--text-160);
  }

  .pricing__card--features {
    gap: var(--space-4);
  }

  .pricing__card--feature {
    gap: var(--space-6);
  }

  .pricing__card--feature img {
    width: var(--space-12);
    height: var(--space-12);
  }

  .cta {
    gap: var(--space-16);
    padding-block: var(--space-32);
  }
}
